apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      nodeName: server-node
      containers:
      - name: server
        image: server:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: server-config
        - secretRef:
            name: server-secrets
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
